body {
    margin: 0; /* Elimina márgenes del body */
    height: 100vh; /* Altura completa de la ventana */
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../img/fondo.jpg'); /* Imagen de fondo */
    background-size: cover; /* Ajusta la imagen para cubrir toda la pantalla */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}

h1, h2, h3 {
    color: #2c3e50; /* Color para los encabezados */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc; /* Borde del contenedor */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra para el contenedor */
    background-color: white; /* Fondo blanco para el contenedor */
    border-radius: 10px; /* Bordes redondeados */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; /* Centra el texto dentro del contenedor */
}

button {
    background-color: #3498db; /* Color del botón */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #2980b9; /* Color del botón al pasar el ratón */
}

a {
    color: #3498db; /* Color de los enlaces */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
